.container {
  margin-top:70px;
}
#transportation-form {
  margin-top:10px;
}
#transportation-list {
  margin-top:10px;
}
.stop-info .panel-body {
  padding:10px;
}
.stop-info h5 {
  min-height:30px;
}
.stop-info .station,
.stop-info .headsign,
.stop-info .time,
.stop-info .code {
  margin:0;
  padding:0;
}
.update-now {
    display:none;
    position:absolute;
    margin:0 auto;
    height:30px;
    width:100%;
    text-align:center;
    z-index:9999;
}
.update-now p {
    border:1px solid #afafaf;
    background-color:#ffcc99;
    position:relative;
    text-align:center;
    margin:0 auto;
    padding:10px;
    border-radius:3px;
    width:auto;
    display:inline;
}
